.person-register {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.person-register_input {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.person-register_display {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}

.person-register_display > div {
  border: 1px solid #919191;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}