.register_display {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}

.\register_display > div {
  border: 1px solid #919191;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}