.input {
      
}

.input input {
  width: 100%;
  height: 35px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  transition: border 0.3s ease;
  box-sizing: border-box;
  outline: none;
}

.input input:hover {
  border-color: var(--hover-border-color);
}